*{
margin: 0px;
padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
  overflow-x: hidden;
}


body{
 font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.app__body{
  	background-color:#f1f2f5;

}
.App{
	background-color:#f1f2f5;
	height: 100vh;
}
.app__body{
	display: flex;
/*display: grid;
grid-template-columns: 2fr 7fr 2fr;*/
}