.feed {
  flex: 1;
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 990px) {

.feed{
	display: flex;
	flex: 1;
	width: 100vh;
	 padding-left:120px;
	 padding-right: 200px;
} 


}
@media only screen and (max-width: 990px) {

.feed{
	display: flex;
	flex: 1;
	width: 100vh;
	 padding-left:120px;
	 padding-right: 200px;
} 

}
@media only screen and (max-width: 866px) {

.feed{
	display: flex;
	flex: 1;
	width: 100vh;
	 padding-left:50px;
	 padding-right: 50px;
} 

}
@media only screen and (max-width: 760px) {

.feed{
	display: flex;
	flex: 1;
	width: 100vh;
	 padding-left:10px;
	 padding-right: 10px;
} 

}
@media only screen and (max-width: 673px) {

.feed{
	display: flex;
	flex: 1;
	width: 70vh;
	 padding-left:5px;
	 padding-right: 5px;
} 

}
@media only screen and (min-width: 673px) {

/*.feed{
	display: flex;
	flex: 1;
	width: 70vh;
	 padding-left:5px;
	 padding-right: 5px;
} */

}